footer.footer-bar
    div.footer-bar__logo
      img(src=require('./img/logo.png').default)
      p.footer-bar__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    div.footer-bar__nav
      li
        p.footer-bar__header Navigation
      li
        a(href='/aboutUs') About Us
      li
        a(href='/news') News
      li
        a(href='/support') Support
      li
        a(href='/products') Products
    div.footer-bar__about
      li
        p.footer-bar__header About Us
      li
        a(href='/aboutUs') Who we are
      li
        a(href='/news') Our team
      li
        a(href='/support') Careers
      li
        a(href='/products') Investors
    div.footer-bar__support
      li
        p.footer-bar__header Support
      li
        a(href='/aboutUs') Documentation
      li
        a(href='/news') Community
      li
        a(href='/support') Get in Touch
    div.footer-bar__subscribe
      p.footer-bar__header Subscribe to our newsletter
      p.footer-bar__text Receive our latest news and promotions in your inbox!
      form.subscription(action='#', method='post')
        input.subscription-email(type='email', placeholder='Your email address', required='')
        button.subscription-button(type='submit') 
          img(src=require('./img/arrow.png').default)
footer.footer-bar__copyright-bar
    p Copyright © 2018 Toxin UI Kit. All rights reserved.
    img(src=require('./img/twitter.png').default)
    img(src=require('./img/facebook.png').default)
    img.footer-bar__margin(src=require('./img/instagram.png').default)